/**========================================================================
 *                           MAIN SCSS FILE
 *========================================================================**/
/*================================ NORMALIZER ==============================*/
* {
  margin: 0;
  padding: 0;
}

/*================================ VARIABLES ==============================*/
/*================================ ANIMATIONS ==============================*/
@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotate180 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotate180 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate-180 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-180 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*================================ PARTIALS ==============================*/
.navbar {
  position: fixed;
  -webkit-animation: slide-down 1s ease-in-out;
          animation: slide-down 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  width: 100vw;
  height: 4rem;
  font-family: "Quicksand", sans-serif;
  background-color: white;
}

.navbar.scrolled {
  border-bottom: 0.5pt solid #59beb6;
  -webkit-box-shadow: -2px 2px 5px 2px rgba(110, 110, 110, 0.65);
          box-shadow: -2px 2px 5px 2px rgba(110, 110, 110, 0.65);
}

.navbar .title {
  margin-left: 2rem;
  color: #59beb6;
  font-weight: 700;
  font-size: 1.25rem;
}

.navbar .burger-menu {
  display: none;
}

.navbar_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 500px;
  font-size: 1.25rem;
  margin-right: 1rem;
}

.navbar_icons_social {
  width: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar_icons_social i {
  font-size: 1.75rem;
  color: #59beb6;
}

.navbar_icons_social i:hover {
  cursor: pointer;
  -webkit-filter: saturate(50);
          filter: saturate(50);
}

.navbar_icons button {
  background-color: #59beb6;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 27px;
  font-size: 0.8rem;
  -webkit-transition: backround-color 0.25s;
  transition: backround-color 0.25s;
}

.navbar_icons button:hover {
  cursor: pointer;
  background-color: white;
  color: #59beb6;
  border: 1pt solid #59beb6;
}

.navbar_icons #switch-language {
  width: 40px;
}

.navbar_icons #switch-language:hover {
  cursor: pointer;
  -webkit-filter: brightness(3);
          filter: brightness(3);
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: 800px) {
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .title {
    margin-left: 0;
    text-align: center;
  }
  .navbar .burger-menu {
    display: block;
    color: #59beb6;
    font-size: 1.65rem;
    position: absolute;
    right: 1rem;
  }
  .navbar .burger-menu.open {
    -webkit-animation: rotate180 0.5s ease-in-out forwards;
            animation: rotate180 0.5s ease-in-out forwards;
  }
  .navbar .burger-menu.closed {
    -webkit-animation: rotate-180 0.5s ease-in-out forwards;
            animation: rotate-180 0.5s ease-in-out forwards;
  }
  .navbar_icons {
    display: none;
    position: absolute;
    top: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #59beb6;
    width: 100vw;
    height: 30vh;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  .navbar_icons_social {
    width: 80vw;
  }
  .navbar_icons_social i {
    color: white;
  }
  .navbar_icons button {
    background-color: white;
    color: #59beb6;
    margin: 1rem;
  }
  .navbar_icons.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: slide-down 0.8s ease-in-out;
            animation: slide-down 0.8s ease-in-out;
  }
  .navbar_icons.closed {
    -webkit-animation: slide-up 0.8s ease-in-out;
            animation: slide-up 0.8s ease-in-out;
    display: none;
  }
}

.hero {
  padding-top: 12rem;
  padding-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero div {
  -webkit-animation: slide-left 1s ease-in-out;
          animation: slide-left 1s ease-in-out;
}

.hero div h1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 6rem;
  padding-bottom: 1rem;
}

.hero div h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
}

.hero img {
  width: 25rem;
  padding-right: 4rem;
  -webkit-animation: slide-right 1s ease-in-out;
          animation: slide-right 1s ease-in-out;
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: 800px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 8rem;
    padding-left: 0;
  }
  .hero div h1,
  .hero div h2 {
    text-align: center;
  }
  .hero div h1 {
    font-size: 3rem;
  }
  .hero div h2 {
    font-size: 2rem;
  }
  .hero img {
    width: 50%;
    padding-left: 10%;
    padding-right: 0;
  }
}

.about {
  background-color: #59beb6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide-up 1s ease-in-out;
          animation: slide-up 1s ease-in-out;
}

.about div {
  font-family: "Quicksand", sans-serif;
  color: white;
  padding-left: 4rem;
  padding-top: 4rem;
}

.about div h2 {
  font-size: 6rem;
}

.about div p {
  font-size: 2.5rem;
}

.about img {
  width: 600px;
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: 800px) {
  .about {
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about div {
    padding-left: 0;
  }
  .about div h2 {
    font-size: 2rem;
    text-align: center;
  }
  .about div p {
    margin-top: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
  }
  .about div div {
    padding-left: 0;
    width: 100%;
  }
  .about img {
    width: 100vw;
  }
}

.knowledge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

.knowledge h2 {
  padding-top: 4rem;
  font-size: 4rem;
  color: #59beb6;
}

.knowledge h3 {
  margin-top: 2rem;
  font-size: 2rem;
}

.knowledge .code-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.knowledge .code-languages-item {
  padding: 2rem;
}

.knowledge .code-languages-item img {
  width: 100px;
}

.knowledge .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.knowledge .languages-item {
  padding: 2rem;
}

.knowledge .languages-item img {
  width: 100px;
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: 800px) {
  .knowledge h2 {
    font-size: 2rem;
  }
  .knowledge .code-languages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .knowledge .languages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.academic {
  font-family: "Quicksand", sans-serif;
  background-color: #59beb6;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
}

.academic h2 {
  font-size: 4rem;
  padding-top: 4rem;
  text-align: center;
}

.academic_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

.academic_div img {
  width: 30px;
  height: 30px;
}

.academic_div article {
  padding: 1rem;
}

.academic_div article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.academic_div article div h3 {
  margin-left: 0.5rem;
}

.academic_div article p {
  margin-left: 37px;
}

.academic button {
  background-color: white;
  border: none;
  color: #59beb6;
  padding: 1rem;
  border-radius: 27px;
  font-size: 0.8rem;
  -webkit-transition: backround-color 0.25s;
  transition: backround-color 0.25s;
}

.academic button:hover {
  cursor: pointer;
  background-color: #59beb6;
  color: white;
  border: 1pt solid white;
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: 800px) {
  .academic h2 {
    font-size: 2rem;
  }
}

.projects {
  font-family: "Quicksand", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects h2 {
  padding-top: 4rem;
  font-size: 4rem;
  color: #59beb6;
}

.projects div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects div article {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects div article img {
  width: 400px;
  height: auto;
  -webkit-box-shadow: 2px 2px 19px 6px rgba(110, 110, 110, 0.65);
          box-shadow: 2px 2px 19px 6px rgba(110, 110, 110, 0.65);
}

.projects div article img:hover {
  -webkit-filter: saturate(0);
          filter: saturate(0);
  cursor: pointer;
}

.projects div article a {
  margin-top: 2rem;
  font-size: 1.25rem;
  color: #59beb6;
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: 800px) {
  .projects h2 {
    font-size: 2rem;
  }
  .projects div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects div article img {
    width: 300px;
  }
}
