/**========================================================================
 *                           MAIN SCSS FILE
 *========================================================================**/
/*================================ NORMALIZER ==============================*/
* {
  margin: 0;
  padding: 0;
}

/*================================ VARIABLES ==============================*/
/*================================ ANIMATIONS ==============================*/
@-webkit-keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes rotate180 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes rotate180 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate-180 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-180 {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/*================================ PARTIALS ==============================*/
.navbar {
  position: fixed;
  -webkit-animation: slide-down 1s ease-in-out;
          animation: slide-down 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 4;
  width: 100vw;
  height: 4rem;
  font-family: "Quicksand", sans-serif;
  background-color: white;
}

.navbar.scrolled {
  border-bottom: 0.5pt solid #59beb6;
}

.navbar .title {
  margin-left: 2rem;
  color: #59beb6;
  font-weight: 700;
  font-size: 1.25rem;
}

.navbar .burger-menu {
  display: none;
}

.navbar_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  font-size: 1.25rem;
}

.navbar_icons_social {
  width: 12vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar_icons_social i {
  font-size: 1.75rem;
  color: #59beb6;
}

.navbar_icons_social i:hover {
  cursor: pointer;
  -webkit-filter: saturate(50);
          filter: saturate(50);
}

.navbar_icons button {
  background-color: #59beb6;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 27px;
  font-size: 0.8rem;
}

.navbar_icons button:hover {
  cursor: pointer;
  -webkit-filter: brightness(2);
          filter: brightness(2);
  color: black;
}

.navbar_icons #switch-language {
  width: 40px;
}

.navbar_icons #switch-language:hover {
  cursor: pointer;
  -webkit-filter: brightness(3);
          filter: brightness(3);
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: 800px) {
  .navbar {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .title {
    margin-left: 0;
    text-align: center;
  }
  .navbar .burger-menu {
    display: block;
    color: #59beb6;
    font-size: 1.65rem;
    position: absolute;
    right: 1rem;
  }
  .navbar .burger-menu.open {
    -webkit-animation: rotate180 0.5s ease-in-out forwards;
            animation: rotate180 0.5s ease-in-out forwards;
  }
  .navbar .burger-menu.closed {
    -webkit-animation: rotate-180 0.5s ease-in-out forwards;
            animation: rotate-180 0.5s ease-in-out forwards;
  }
  .navbar_icons {
    display: none;
    position: absolute;
    margin-top: 39vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #59beb6;
    width: 100vw;
    height: 30vh;
    justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navbar_icons_social {
    width: 80vw;
  }
  .navbar_icons_social i {
    color: white;
  }
  .navbar_icons button {
    background-color: white;
    color: #59beb6;
    margin: 1rem;
  }
  .navbar_icons.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: slide-down 0.8s ease-in-out;
            animation: slide-down 0.8s ease-in-out;
  }
  .navbar_icons.closed {
    -webkit-animation: slide-up 0.8s ease-in-out;
            animation: slide-up 0.8s ease-in-out;
    display: none;
  }
}

.hero {
  padding-top: 12rem;
  padding-left: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero div h1 {
  font-family: "Sansita Swashed", cursive;
  font-size: 4rem;
  padding-bottom: 1rem;
}

.hero div h2 {
  font-family: "Quicksand", sans-serif;
}

.hero img {
  width: 25rem;
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: 800px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 8rem;
    padding-left: 0;
  }
  .hero h1, .hero h2 {
    text-align: center;
  }
  .hero img {
    width: 50%;
    padding-left: 10%;
  }
}
