.about {
  background-color: $Color1;
  display: flex;
  animation: slide-up 1s ease-in-out;
  div {
    width: 60%;
    font-family: $Font1;
    color: $White;
    padding-left: 4rem;
    padding-top: 4rem;
    h2 {
      font-size: 6rem;
    }

    p {
      font-size: 2rem;
    }
  }

  img {
    width: 40%;
  }
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: $Breakpoint1) {
  .about {
    margin-top: 2rem;
    flex-direction: column;
    div {
      width: 100%;
      padding-left: 0;
      h2 {
        font-size: 2rem;
        text-align: center;
      }

      p{
        margin-top: 0.5rem;
        padding: 0.75rem;
        font-size: 1rem;
      }

      div {
        padding-left: 0;
        width: 100%;
      }

     
    }
    img {
      width: 100vw;
    }
  }
}
