.hero {
  padding-top: 12rem;
  padding-left: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
    
  div {
    animation: slide-left 1s ease-in-out;
    h1 {
      font-family: $Font2;
      font-size: 6rem;
      padding-bottom: 1rem;
    }
    h2 {
      font-family: $Font1;
      font-size: 2rem;
    }
  }
  img {
      width: 25rem;
      padding-right: 4rem;
      animation: slide-right 1s ease-in-out;
  }
}

/*================================ MOBILE ==============================*/
@media screen and (max-width: $Breakpoint1){
    .hero{
        flex-direction: column-reverse;
        justify-content: center;
        padding-top: 8rem;
        padding-left: 0;
        h1, h2{
            text-align: center;
        }
        h1{
          font-size: 4rem;
        }
        img{
            width: 50%;
            padding-left: 10%;
            padding-right: 0;
        }
    }
}

