.navbar {
  position: fixed;
  animation: slide-down 1s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 4;
  width: 100vw;
  height: 4rem;
  font-family: $Font1;
  background-color: $White;

  &.scrolled {
    border-bottom: 0.5pt solid $Color1;
    box-shadow: -2px 2px 5px 2px rgba(110, 110, 110, 0.65);
  }

  .title {
    margin-left: 2rem;
    color: $Color1;
    font-weight: 700;
    font-size: 1.25rem;
  }

  .burger-menu {
    display: none;
  }

  &_icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;
    font-size: 1.25rem;
    margin-right: 1rem;
    &_social {
      width: 12vw;
      display: flex;
      justify-content: space-evenly;
      i {
        font-size: 1.75rem;
        color: $Color1;
        &:hover {
          cursor: pointer;
          filter: saturate(50);
        }
      }
    }

    button {
      width: 15rem;
      background-color: $Color1;
      border: none;
      color: $White;
      padding: 1rem;
      border-radius: 27px;
      font-size: 0.8rem;
      transition: backround-color 0.25s;
      &:hover {
        cursor: pointer;
        background-color: $White;
        color: $Color1;
        border: 1pt solid $Color1;
      }
    }
    .lang-selection {
      display: flex;
      justify-content: space-between;
      .switch-language {
        width: 35px;
        padding: 0 0.5rem;
        &:hover {
          cursor: pointer;
          filter: saturate(5);
        }
      }
    }
  }
}
/*================================ MOBILE ==============================*/
@media screen and (max-width: $Breakpoint1) {
  .navbar {
    justify-content: center;
    .title {
      margin-left: 0;
      text-align: center;
    }

    .burger-menu {
      display: block;
      color: $Color1;
      font-size: 1.65rem;
      position: absolute;
      right: 1rem;

      &.open {
        animation: rotate180 0.5s ease-in-out forwards;
      }

      &.closed {
        animation: rotate-180 0.5s ease-in-out forwards;
      }
    }

    &_icons {
      display: none;
      position: absolute;
      top: 4rem;
      flex-direction: column;
      justify-content: center;
      background-color: $Color1;
      width: 100vw;
      height: 30vh;
      justify-content: center;
      align-items: center;
      margin-right: 0;
      &_social {
        width: 80vw;
        i {
          color: $White;
        }
      }

      button {
        background-color: $White;
        color: $Color1;
        margin: 1rem;
      }

      &.open {
        display: flex;
        animation: slide-down 0.8s ease-in-out;
      }

      &.closed {
        animation: slide-up 0.8s ease-in-out;
        display: none;
      }
    }
  }
}
